body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.scores{

}
.positionDiv{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
}

#position2{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#first-place-img{
    position: absolute;
    left: 5rem;
    color: #fff;
    padding-left: 5rem;
}


.player-name{
    font-size: 64px;
    font-weight: bold;
    position: absolute;
    left: 10rem;
    color: #fff;
    padding-left: 8rem;
}

.player-score{
    font-size: 64px;
    font-weight: bold;
    position: absolute;
    left: 35rem;
    color: #fff;
    padding-left: 5rem;
}

#individual-playerPlace{
    position: absolute;
    font-size: 36px;
    color: #fff;
    padding-left: 4rem;
}

#playerPlace{
    position: absolute; 
    font-size: 64px;
    color: #fff;
    padding-left: 6rem;
}

#scoreboard_bg{
    background: #ABB768;
    border-radius: 25px;
    width: 963px;
    height: 100%;
    flex-shrink: 0;
    z-index: 10;
    position: relative;
    left: 20rem;
    top: 10rem;
    padding: 20px;
}

#leaderboard-title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    color: #fff;
    
}

#floorDiv{
    background-color: #699215;
    width: 99%;
    height: 427px;
    position:absolute;
    min-height: 1px;
    bottom: 10px;
    z-index: 1;
}

#background{
    position: absolute;
    bottom: 0;
    height: 100%;
}

#playerScore{
    background: #ABB768;
    border-radius: 25px;
    width: 650px;
    height: 400px;
    left: 100rem;
    bottom: 550px;
    position: relative;
    z-index: 10;
    color: #fff;
}

#playerPositionImg{
    width: 100%;
    
}
#playerPosition{
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#your-player-name{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    left: 15rem;
}

#your-player-score{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    left: 30rem;
}


#playerScoreTitle{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #699215; /* Adding a line under the title for better visibility */
    color: #fff; /* Ensures the title stands out against the background */
}